~~Scoping algorithm~~
Reward must by goal-based. Ie, a single if-else statement with a high-reward and low-reward condition
There must be multi-valued attributes for the scoper to be useful. Otherwise, the scoper is basically doing goal regression planning.

~~RDDL inspactor~~
RDDL files need:
    non-fluent section
    init-state section
Transition/reward funcitons must be made of blocks of if/else statements
Each if statement in a cpt must mention an action
get_pvar_args_strings assumes there will only be a single instance of the specified pvar (action)
    in the expression's descendants. If there are multiple, and they have different parameter names, it will simply return
    paramter names of the first found instance, and bad things will happen.